<article class="post">
    <div class="title">
        <h3>{{title}}</h3>
        <span>{{created_at}}</span>
    </div>
    <div class="content">
        <p>
            {{content}} by <span>{{user.username}}</span>
        </p>
    </div>
    
</article>