<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>tech blog</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/dashboard">Dashboard</a>
        </li>
        <li>
          <a href="/login">Login</a>
        </li>
      </ul>
      <h2>
      The Tech Blog
      </h2>
    </nav>
  </header>
  <main>
    {{{body}}}
  </main>
  <footer>
      &copy; copyright 2020 a_bad_b
  </footer>
</body>
</html>