<section>

  <form class="new-post-form">
    <h3>Create New Post</h3>
    <h4>Title</h4>
    <div>
      {{!-- <label for="post-title"></label> --}}
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <h4>Content</h4>
      <textarea name="post-body"></textarea>
      {{!-- <label for="content">Content</label>
      <input id="content" name="content" /> --}}
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <div class="your-post">
    <h3>Your Posts</h3>
  </div>
  
  <ul>
    {{#each posts as |post|}}
    <li>
      {{> post-info-edit post}}
    </li>
    {{/each}}
  </ul>
  
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>