<ul class="post-list">
    <li>
        <article class="post">
        <div class="title">
            <a href="{{post.post_url}}" target="_blank">blog title</a>
            <span>posted by username on 10/23/2020</span>
        </div>
        <div class="text">
            text text text
        </div>
        </article>
    </li>
</ul>