{{> post-info-comp post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
<section>
  <div class="your-post">
    <h3>Comments</h3>
  </div>
{{/if}}

{{> comments post.comments}}
</section>
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}

