* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header {
  padding: 10px 35px 10px 35px;
  background: brown;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
header nav ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin: 0;
}