* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header {
  padding: 10px 35px 20px 35px;
  background: #fc5c65;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
header nav ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 20px 0 20px 0
}
header nav ul li{
  padding-right: 30px
}
header h2{
  background-color: #fed330;
  padding: 10px;
  text-align: center;
  border: solid;
  border-radius: 5px
}
.post-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.post {
  margin-bottom: 2%;
  line-height: 150%;
  border: solid;
  border-radius: 5px;
  margin: 10px
}
.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}
.text {
  padding: 10px;
}
main {
  flex: 1;
  padding: 2% 4%;
  background-color: #a55eea;
}
.title{
  display: flex;
  justify-content: space-between;
  background-color: #fa8231;
  padding: 10px
}
a{
  text-decoration: none;
  color: #225ca3;
  font-weight: bold;
  transition: color .1s;
  padding: 10px
}
a:hover {
  color: #3486eb;
}
form{
  border: solid;
}
.signup{
  padding: 10px;
  font-size: 20px;
}
form label {
  display: block;
  padding: 10px
}
form h3 {
  display: flex;
  justify-content: space-between;
  background-color: #fa8231;
  padding: 10px
}
form h4 {
  padding: 10px
}
form input{
  margin: 10px;
  padding: 10px 1139px 10px 5px
}
.signup-form button {
  background-color: #225ca3;
  border: 0;
  padding: .75% 46%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
}
.login-form button {
  background-color: #225ca3;
  border: 0;
  padding: 1% 48%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  
  
}
.btn-no-style{
  text-decoration: none;
  color: #225ca3;
  font-weight: bold;
  transition: color .1s;
  padding: 5px;
  border: 0;
  background-color:  #fc5c65;
  font-size: 15px;
}
button:hover {
  background-color: #3486eb;
}
footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}
.content{
  background-color: #20bf6b;
  display: flex;
  justify-content: flex-start;
  padding: 10px
}
.comment-form{
  line-height: 150%;
  border: solid;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background-color: #45aaf2;
}
.comment-form button{
  font-weight: bold;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: 0;
  background-color:  #225ca3;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}
textarea{
  padding: 10px 1100px 10px 5px;
  background-color: #eb3b5a;
}
.comments{
  line-height: 150%;
  border: solid;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background-color: #4b6584;
}